body {
  font-family: "Ubuntu Mono", "Courier New", Courier, monospace;
  color: white;
}

.game-board {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "title"
    "feedback"
    "puzzle"
    "category"
    "controls"
    "scoreboard";
  background-color: black;
}

.game-board__title {
  border: 1px solid red;
  grid-area: title;
  font-family: "Slackey", cursive;
  text-align: center;
}
.game-board__category {
  border: 1px solid yellow;
  grid-area: category;
  text-align: center;
}

.game-board__category-text {
  background-color: white;
  color: black;
  border-radius: 2em;
  letter-spacing: 0.25em;
  padding: 0.25em;
  width: 80%;
  margin: 0 auto;
}

.game-board__puzzle {
  border: 1px solid blue;
  grid-area: puzzle;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: ". puzzle-text .";
  justify-content: center;
  text-align: center;
}

.game-board__puzzle-text {
  display: flex;
  flex-wrap: wrap;
  grid-area: puzzle-text;
}

.game-board__puzzle-word {
  display: flex;
}

.game-board__puzzle-letter {
  background-color: white;
  color: black;
  padding: 0.25em;
  line-height: 1.75em;
  border: 3px double black;
  min-width: 1em;
}

.game-board__puzzle-space {
  background-color: rgba(50, 50, 50, 0.8);
}

.game-board__feedback {
  border: 1px solid green;
  grid-area: feedback;
  padding: 1em;
  text-align: center;
}

.game-board__controls {
  border: 1px solid orange;
  grid-area: controls;
  text-align: center;
  padding: 1em;
}

.controls-form button {
  min-height: 2em;
  width: 100%;
  margin-top: 0.5em;
  font-size: larger;
}

#guess-form input {
  min-height: 2em;
  font-size: larger;
}

.game-board__scoreboard {
  border: 1px solid purple;
  grid-area: scoreboard;
}

.player-card {
  padding: 1em;
}

@media (min-width: 600px) {
  .game-board {
    grid-template-columns: 75% 25%;
    grid-template-areas:
      "title scoreboard"
      "puzzle scoreboard"
      "category scoreboard"
      "feedback scoreboard"
      "controls scoreboard";
  }
}
