body {
  font-family: "Ubuntu Mono", "Courier New", Courier, monospace;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

.game-board {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "title"
    "feedback"
    "puzzle"
    "category"
    "controls"
    "scoreboard";
  background-color: black;
}

.game-board__title {
  grid-area: title;
  font-family: "Slackey", cursive;
  font-size: 2em;
  text-align: center;
  padding: 0.5em;
}
.game-board__category {
  grid-area: category;
  text-align: center;
  padding: 1em;
}

.game-board__category-text {
  background-color: white;
  color: black;
  border-radius: 2em;
  letter-spacing: 0.25em;
  padding: 0.1em 0.75em 0.1em 1em;
}

.game-board__puzzle {
  grid-area: puzzle;
  display: block;
  text-align: center;
  overflow-x: auto;
  margin: 0 1em;
}

@media (min-width: 468px) {
  .game-board__puzzle {
    display: flex;
    justify-content: center;
    margin: 0;
  }
}

.game-board__puzzle-text {
  display: flex;
  flex-wrap: wrap;
  grid-area: puzzle-text;
  justify-content: flex-start;
}

@media (min-width: 468px) {
  .game-board__puzzle-text {
    justify-content: center;
  }
}

.game-board__puzzle-word {
  display: flex;
}

.game-board__puzzle-letter {
  background-color: white;
  color: transparent;
  padding: 0.25em;
  line-height: 1.75em;
  border: 3px double black;
  min-width: 1em;
  min-height: 1.5em;
  transform: scaleX(-1);
}

.game-board__puzzle-letter--reveal {
  transition: transform 1s ease-in-out, color 1.5s ease-in;
  color: black;
  transform: scaleX(1);
}

.game-board__puzzle-letter--solveable {
  color: black;
  transform: scaleX(1);
}

.game-board__puzzle-letter--solving {
  box-shadow: inset 0px 0px 13px green;
}

.game-board__puzzle-space {
  background-color: rgba(50, 50, 50, 0.8);
}

.game-board__feedback {
  grid-area: feedback;
  padding: 1em;
  text-align: center;
}

.game-board__controls {
  grid-area: controls;
  text-align: center;
  padding: 0 1em 1em;
}

.controls-form__group {
  display: grid;
}

.controls-form button {
  min-height: 2em;
  width: 100%;
  font-size: larger;
}

.controls-form input {
  justify-self: center;
  margin-bottom: 0.5em;
  min-height: 2em;
  font-size: larger;
  text-align: center;
}

.play-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#guess-form,
#next-round-form {
  grid-column-start: 2;
}

.controls-form {
  display: grid;
  margin: 0 0.5em;
}

.controls-form label {
  display: inline-block;
  padding-bottom: 0.5em;
}

.game-board__scoreboard {
  grid-area: scoreboard;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  box-sizing: border-box;
}

.player-card {
  padding: 1em;
}
.player-card--inactive {
  opacity: 0.6;
  border: 3px double black;
}

.player-card--active {
  opacity: 1;
  border: 3px double white;
}

.player-card-p1 {
  background-color: green;
}

.player-card-p2 {
  background-color: blue;
}

.hide {
  display: none;
}

.show {
  display: initial;
}

@media (min-width: 600px) {
  .game-board {
    grid-template-columns: 75% 25%;
    grid-template-areas:
      "title scoreboard"
      "puzzle scoreboard"
      "category scoreboard"
      "feedback scoreboard"
      "controls scoreboard";
  }
}
